STDINCLUDE := -Iinclude $(LIBGCC_INCLUDE)
GLOBAL_CFLAGS := $(GLOBAL_CFLAGS)

LIBS_DIR := lib
LIBS_BUILD_DIR   := $(call TOBUILDDIR, lib)
LIBS_RELEASE_DIR := $(call TORELEASEDIR, lib)

LIBS := $(addprefix $(LIBS_RELEASE_DIR)/, \
	libhttp.a \
	libchain.a \
)	

LIBCHAIN := $(LIBS_DIR)/libchain.a
LIBHTTP  := $(LIBS_DIR)/libhttp.a

APPS_DIR         := apps
APPS_BUILD_DIR   := $(call TOBUILDDIR, apps)
APPS_RELEASE_DIR := $(call TORELEASEDIR, final/apps )
APPS_LDSCRIPT     = $(APPS_DIR)/ldscripts/$(ARCH)/app.ld

APPS := $(addprefix $(APPS_RELEASE_DIR)/, \
	httpd \
)

CMD_DIR := cmd
CMD_BUILD_DIR   := $(call TOBUILDDIR, bin)
CMD_RELEASE_DIR := $(call TORELEASEDIR, bin)
CMD_LDSCRIPT     = $(CMD_DIR)/ldscripts/$(ARCH)/app.ld

CMD := $(addprefix $(CMD_RELEASE_DIR)/, \
	shell \
)

EXAMPLES_DIR         := examples
EXAMPLES_BUILD_DIR   := $(call TOBUILDDIR, examples)
EXAMPLES_RELEASE_DIR := $(call TORELASEDIR, examples))
EXAMPLES_LDSCRIPT     = $(EXAMPLES_DIR)/ldscripts/$(ARCH)/app.ld

EXAMPLES := $(addprefix $(EXAMPLES_DIR)/, \
	demo \
	gfx \
)

KITS_DIR       := kits
KITS_BUILD_DIR := $(call TOBUILDDIR, kits)
KITS_LDSCRIPT   = $(KITS_DIR)/ldscripts/$(ARCH)/app.ld

KITS := $(addprefix $(KITS_BUILD_DIR)/, \
	\
)

STATICFILES_DIR := $(call TOBUILDDIR, static)
STATICFILES     := $(addprefix $(STATICFILES_DIR)/, \
)

ALL_LIST = \
	$(APPS) \
	$(CMD) \
	$(EXAMPLES) \
	$(KITS) \
	$(LIBS)

-include config/arch/make.config.$(ARCH)
-include config/platform/make.config.$(PLATFORM)

ALL := \
	$(ALL_LIST)

$(warning ALL = $(ALL))
